<div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        <div class="card" data-background="color" data-color="green">
            <div class="header">
                <h3 class="title">Olive | Forgot Password</h3>
            </div>
            <div class="content">
                <div class="form-group">
                    <label>Email address</label>
                    <input type="email" placeholder="Enter email" class="form-control" formControlName="emailAddress">
                </div>
            </div>
            <div class="footer text-center">
                <button type="submit" class="btn btn-fill btn-wd ">Send Reset Link</button>
            </div>
        </div>
    </form>
</div>
