<div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="card" data-background="color" data-color="green">
            <div class="header">
                <h3 id="formTitle" class="title">Olive | Forgot Password</h3>
            </div>
            <div class="content">
                <app-form-field [type]="'email'" [fieldName]="'Email address'" [form]="form" 
                    [field]="this.form.controls['emailAddress']"></app-form-field>
            </div>
            <div class="footer text-center">
                <button type="submit" class="btn btn-fill btn-wd">Send Reset Link</button>
            </div>
        </div>
    </form>
</div>
