<div *ngIf="!loading" class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
    <form method="#" action="#">
        <div class="card" data-background="color" data-color="yellow">
            <div class="header">
                <h3 class="title">Account Activated</h3>
            </div>
            <div class="footer text-center">
                <a type="submit" class="btn btn-fill btn-wd" routerLink="/">Login</a>
            </div>
        </div>
    </form>
</div>

<app-loading-overlay *ngIf="loading"></app-loading-overlay>
