<div class="sweet-container">
   <div class="sweet-overlay" tabindex="-1" style="opacity: 1; display: block;"></div>
   <div class="sweet-alert show-sweet-alert visible" style="display: block; width: 500px; padding: 20px; margin-left: -250px; background: rgb(255, 255, 255); margin-top: -179px;" tabindex="-1">
      <div class="icon error animate-error-icon" style="display: block;"><span class="x-mark animate-x-mark"><span class="line left"></span><span class="line right"></span></span></div>
      <div class="icon info" style="display: none;"></div>
      <img class="sweet-image" style="display: none;"> 
      <h2>{{ errorData.title }}</h2>
      <div class="sweet-content">
         <p>{{ errorData.text }}</p>
      </div>
      <hr class="sweet-spacer" style="display: block;">
      <button class="sweet-confirm btn btn-info btn-fill" (click)="errorData.okCallback()">OK</button>
   </div>
</div>
