<div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="card" data-background="color" data-color="purple">
            <div class="header">
                <h3 id="formTitle" class="title">Olive | Reset Password</h3>
            </div>
            <div class="content">
                <app-form-field [type]="'password'" [fieldName]="'New password'" [form]="form" 
                    [field]="this.form.controls['password']" ></app-form-field>
                <app-form-field [type]="'password'" [fieldName]="'Confirm password'" [form]="form" 
                    [field]="this.form.controls['confirmPassword']" ></app-form-field>
            </div>
            <div class="footer text-center">
                <button type="submit" class="btn btn-fill btn-wd">Reset Password</button>
            </div>
        </div>
    </form>
</div>

<app-loading-overlay *ngIf="loading"></app-loading-overlay>
<app-error-alert *ngIf="forgotPasswordCodeValidationError" [errorData]="errorData"></app-error-alert>
<app-success-alert *ngIf="resetPasswordSuccessful" [successData]="successData"></app-success-alert>
