<div class="wrapper wrapper-full-page">
    <div class="full-page login-page">
        <div class="content">
            <div class="container">
                <div class="row">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>

        <footer class="footer footer-transparent">
            <div class="container">
                <div class="copyright">
                    Olive &copy; {{ currentYear }}
                </div>
            </div>
        </footer>
    </div>
</div>
