<div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
        <div class="card" data-background="color" data-color="blue">
            <div class="header">
                <h3 class="title">Olive | Registration</h3>
            </div>
            <div class="content">
                <div class="form-group">
                    <label>Email address</label>
                    <input type="email" placeholder="Enter email" class="form-control input-no-border" formControlName="emailAddress">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" placeholder="Password" class="form-control input-no-border" formControlName="password">
                </div>
                <div class="form-group">
                    <label>Confirm password</label>
                    <input type="password" placeholder="Confirm Password" class="form-control input-no-border" formControlName="confirmPassword">
                </div>
                <div class="form-group">
                    <label>First name</label>
                    <input type="text" placeholder="First name" class="form-control input-no-border" formControlName="firstName">
                </div>
                <div class="form-group">
                    <label>Last name</label>
                    <input type="text" placeholder="Last name" class="form-control input-no-border" formControlName="lastName">
                </div>
            </div>
            <div class="footer text-center">
                <button type="submit" class="btn btn-fill btn-wd ">Register</button>
                <div class="forgot">
                    <a href="/login">Login</a>
                </div>
            </div>
        </div>
    </form>
</div>
